/* 尾部 */
footer{
	height: 348px;
    min-width: 1100px;
    background: url(../img/yinyue_bg.jpg);
}
.foot{
	width: 1100px;
    margin: 0 auto;
}
.music{
	padding: 116px 0 0 276px;
    height: 67px;
}
.music span{
	display: inline-block;
	float: left;
    cursor: pointer;
    width: 57px;
    height: 57px;
    background: url(../img/yinyue_duo.png) no-repeat;
    margin-right: 26px;
}
.music span:nth-child(2){background: url(../img/yinyue_lai.png) no-repeat;}
.music span:nth-child(3){background: url(../img/yinyue_mi.png) no-repeat;}
.music span:nth-child(4){background: url(../img/yinyue_fa.png) no-repeat;}
.music span:nth-child(5){background: url(../img/yinyue_suo.png) no-repeat;}
.music span:nth-child(6){background: url(../img/yinyue_la.png) no-repeat;}
.music span:nth-child(7){background: url(../img/yinyue_xi.png) no-repeat;}
.music span:hover{
	animation: 1s linear 0s normal none 1 running su-pudding;
}
.music span:nth-child(1):hover,.music span:nth-child(2):hover,.music span:nth-child(3):hover,.music span:nth-child(4):hover,.music span:nth-child(5):hover,.music span:nth-child(6):hover,.music span:nth-child(7):hover{background-position:0 -57px;}
.shemi{
	border-top: 2px #9890a2 dashed;
    text-align: center;
    line-height: 65px;
    margin-top: 79px;
    color: #fff;
    cursor: pointer;
	font-size: 15px;
}
.shemi:hover{color: #169FF3;}
@keyframes su-pudding{
	0% {
    transform: scale(1.2, 0.8);
}
1% {
    transform: scale(1.18, 0.82);
}
2% {
    transform: scale(1.16, 0.84);
}
3% {
    transform: scale(1.13, 0.87);
}
4% {
    transform: scale(1.1, 0.9);
}
5% {
    transform: scale(1.07, 0.93);
}
6% {
    transform: scale(1.04, 0.96);
}
7% {
    transform: scale(1.01, 0.99);
}
8% {
    transform: scale(0.99, 1.01);
}
9% {
    transform: scale(0.97, 1.03);
}
10% {
    transform: scale(0.95, 1.05);
}
11% {
    transform: scale(0.94, 1.06);
}
12% {
    transform: scale(0.93, 1.07);
}
13% {
    transform: scale(0.93, 1.07);
}
14% {
    transform: scale(0.93, 1.07);
}
15% {
    transform: scale(0.93, 1.07);
}
16% {
    transform: scale(0.94, 1.06);
}
17% {
    transform: scale(0.94, 1.06);
}
18% {
    transform: scale(0.95, 1.05);
}
19% {
    transform: scale(0.96, 1.04);
}
20% {
    transform: scale(0.98, 1.02);
}
21% {
    transform: scale(0.99, 1.01);
}
22% {
    transform: scale(1, 1);
}
23% {
    transform: scale(1, 1);
}
24% {
    transform: scale(1.01, 0.99);
}
25% {
    transform: scale(1.02, 0.98);
}
26% {
    transform: scale(1.02, 0.98);
}
27% {
    transform: scale(1.02, 0.98);
}
28% {
    transform: scale(1.03, 0.97);
}
29% {
    transform: scale(1.03, 0.97);
}
30% {
    transform: scale(1.02, 0.98);
}
31% {
    transform: scale(1.02, 0.98);
}
32% {
    transform: scale(1.02, 0.98);
}
33% {
    transform: scale(1.02, 0.98);
}
34% {
    transform: scale(1.01, 0.99);
}
35% {
    transform: scale(1.01, 0.99);
}
36% {
    transform: scale(1.01, 0.99);
}
37% {
    transform: scale(1, 1);
}
38% {
    transform: scale(1, 1);
}
39% {
    transform: scale(1, 1);
}
40% {
    transform: scale(0.99, 1.01);
}
41% {
    transform: scale(0.99, 1.01);
}
42% {
    transform: scale(0.99, 1.01);
}
43% {
    transform: scale(0.99, 1.01);
}
44% {
    transform: scale(0.99, 1.01);
}
45% {
    transform: scale(0.99, 1.01);
}
46% {
    transform: scale(0.99, 1.01);
}
47% {
    transform: scale(0.99, 1.01);
}
48% {
    transform: scale(0.99, 1.01);
}
49% {
    transform: scale(1, 1);
}
}
/* 返回顶部 */
.fix{
	width: 87px;height: 161px;
	position: fixed;
	bottom: 160px;
	right: 40px;
	z-index: 100;
	display: none;
}
.totop{
	width: 50px;height: 50px;
	background: url(../img/scroll_top_bg.png) no-repeat;
	margin: 0 auto 20px;
}
.totop:hover{
	background-position: 0 -50px;
	transition: all 0.3s;
}
.youjian{
	width: 87px;height: 87px;
	background: url(../img/fixed_contactus.png) top right no-repeat;
	position: absolute;
	right: 0;
}
.youjian:hover{
	width: 235px;
	animation: 1s linear 0s normal none 1 running su-pudding;
	transition: all 0.5s;
}